body {
  margin: 0;
  padding: 0;
  background: url(../img/fondos/fondo-person.jpg);
  background-size: cover;
  font-family: sans-serif;

  /* DISPLAY*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background: linear-gradient(to right, rgb(94, 96, 206), rgb(83, 144, 217));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*extra*/
  flex-wrap: wrap;
}

input {
  margin-bottom: 8px;
  margin-right: 5px;
  box-shadow: 0px 3px 2px black;
}

nav {
  background-color: rgb(83, 144, 217);
  border: rgb(2, 48, 71) 5px inset;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #5184AD;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 25px;
  font-family: fantasy;
  margin: 6px;
  padding: 2px;
  text-align: center;
  width: 28vh;
  box-shadow: 0px 3px 2px black;
  position: relative;
  height: 35px;
  align-items: center;

}

.button:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ff0000;
  /*rgb(0, 180, 216);*/
  bottom: 0;
  left: 0.25%;
  transition: all .3s;
  position: absolute;
  /*  border-radius: 50%;*/
}

/*.button:hover::before*/
.button:hover:before {
  width: 99.5%;
}

.logo {
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.titulo {
  background-color: #44A2EC;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

main {
  display: flex;
  justify-content: center;
  height: 850px;
}

fieldset {
  background-color: #74AFDD;
  height: 125px;
  margin-top: 20px;
  padding: 10px;
}

legend {
  background-color: rgb(83, 144, 217);
  border: rgb(2, 48, 71) 5px inset;
  font-size: 25px;
  padding: 4px;
}

label {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.datos {
  margin-top: 5px;
  margin-bottom: 5px;
}

.envio {
  display: flex;
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.contraseña {
  text-decoration: underline;
  /*color: #2E9FB8;*/
  color: white;
  font-size: 20px;
}

footer {
  background: linear-gradient(to right, #313DCD, #4BA1E5);
  height: 240px;
  /*DISPLAY*/
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}

.contacto {
  color: white;
  font-size: 20px;
  padding: 4px;
  margin: 12px;
}

.derechos {
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 7px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.redes-footer {
  display: flex;
  justify-content: center;
}

.iconos {
  margin: 3px;
}

.email {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}


@media screen and (max-width: 760px) {
  .fondo {
    width: auto;
  }

  body {
    display: flex;
    display: inline-flex;
    width: 100%;
  }

  header {
    width: 1000px;
    height: 100px;
  }

  nav {
    height: 50px;
    display: flex;
    display: inline;
    justify-content: center;
    padding: 10px;
    background-color: inherit;
    border: inherit;
    margin: auto;
  }

  .logotipo {
    margin-left: 10px;
  }

  .buscador {
    display: none;
  }

  .button {
    font-size: 25px;
    padding: 4px;
    height: 25px;
    display: flex;
    display: inline;
    justify-content: center;

  }

  .menu {
    margin-top: 10px;
  }

  fieldset {
    margin-bottom: 10px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: block;
    justify-content: center;

  }

  .envio {
    display: flex;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contra {
    margin-top: 30px;
    padding: 4px;
  }

  label {
    display: flex;
    display: block;
  }

  .datos {
    display: flex;
    display: block;
  }
}