body {
    margin: 0;
    padding: 0;
    background: url(../img/fondos/fondo-person.jpg);
    background-size: cover;
    font-family: sans-serif;
    /* DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background: linear-gradient(to right, rgb(94, 96, 206), rgb(83, 144, 217));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*extra*/
    flex-wrap: wrap;
}

input {
    margin-bottom: 8px;
    margin-right: 5px;
    box-shadow: 0px 3px 2px black;
}

nav {
    background-color: rgb(83, 144, 217);
    border: rgb(2, 48, 71) 5px inset;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #5184AD;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 25px;
    font-family: fantasy;
    margin: 4px;
    padding: 2px;
    text-align: center;
    width: 28vh;
    height: 35px;
    box-shadow: 0px 3px 2px black;
    position: relative;
}

.button:before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #ff0000;
    bottom: 0;
    left: 0.25%;
    transition: all .3s;
    position: absolute;
}

.button:hover:before {
    width: 99.5%;
}