body {
    margin: 0;
    padding: 0;
    background: url(../img/fondos/fondo-person.jpg);
    background-size: cover;
    font-family: sans-serif;
    /* DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background: linear-gradient(to right, rgb(94, 96, 206), rgb(83, 144, 217));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*extra*/
    flex-wrap: wrap;
}