body {
  margin: 0;
  padding: 0;
  background: url(../img/fondos/fondo-person.jpg);
  background-size: cover;
  font-family: sans-serif;
  /* DISPLAY*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background: linear-gradient(to right, rgb(94, 96, 206), rgb(83, 144, 217));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

input {
  margin-bottom: 8px;
  margin-right: 5px;
  box-shadow: 0px 3px 2px black;
}

nav {
  background-color: rgb(83, 144, 217);
  border: rgb(2, 48, 71) 5px inset;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.button {
  background-color: #5184AD;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 25px;
  font-family: fantasy;
  margin: 4px;
  padding: 2px;
  text-align: center;
  width: 28vh;
  height: 35px;
  box-shadow: 0px 3px 2px black;
  position: relative;
}

.button:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ff0000;
  bottom: 0;
  left: 0.25%;
  transition: all .3s;
  position: absolute;
}

.button:hover:before {
  width: 99.5%;
}

.titulo {
  background-color: #44A2EC;
  margin-bottom: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitulo {
  padding: 5px;
  margin: 5px;
  color: white;
}

main {
  margin-left: 30px;
  margin-right: 30px;
  height: 850px;
  display: flex;

}

.categorias {
  display: flex;
  justify-content: center;
}

.info {
  padding: 6px;
  display: flex;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  color: white;
  margin: 0;
}

li {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 0;
}

li a {
  color: white;
  width: 20px;
  margin-right: 0;
}


.portadas {
  width: 250px;
  height: 250px;
  margin-top: 5px;
  padding: 3px;
}

figcaption {
  background-color: rgb(67, 97, 238);
  border: 2px solid #2C40A4;
  padding: 3px;
  font-size: 18px;
  text-align: center;
  width: 250px;
}

.info {
  border: 2px #0662AF solid;
  margin: 5px;
  width: 50%;
}

p {
  font-size: 18px;
  font-family: sans-serif;
  padding: 3px;
  margin: 6px;
  color: white;
  text-align: center;
}

.titulo2 {
  text-decoration: underline;
}

.trailer {
  background-color: #4285C3;
  height: 15vh;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 4px;
  box-shadow: 0px 3px 2px black;
  width: 330px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

footer {
  background: linear-gradient(to right, #313DCD, #4BA1E5);
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}

.texto {
  margin: 3px;
  auto;
  height: 390px;
}

.contacto {
  color: white;
  font-size: 20px;
  padding: 4px;
  margin: 12px;
}

.derechos {
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 7px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.redes-footer {
  display: flex;
  justify-content: center;
}

.iconos {
  margin: 3px;
}

.email {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.redes {
  color: black;
}