<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MOVIE.COM</title>
    <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo6_estrenos.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../img/logotipo/Logo.png" alt="" width="200">
      </div>

       <form>
        <input type="text" style="width:230px; height: 25px;" name="" placeholder="Buscar">
       </form>

    </header>

  <nav class="menu">
    <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
    <a href="potreroDigital_proyecto_grupo6_ingreso.html" class= "button">  Ingresar </a>
    <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
    <a href= "potreroDigital_proyecto_grupo6_generos.html" class= "button"> Géneros </a>
    <a href= "potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos  </a>
  </nav>

  <div class="titulo">
    <h1>ESTRENOS</h1>
  </div>
    <main>
      <section class="listado">
        <article class="">
          <figure>
            <a href="#"><img class="portadas" src="https://i.pinimg.com/originals/b4/4b/4f/b44b4fa2ea8448ed7769a9510a174075.jpg " alt="Antes de ti" width="120" height="75"></a>
           <figcaption> ANTES DE TI </figcaption>
          </figure>
        </article>

        <article class="">
         <figure>
           <a href="#"><img class="portadas" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/peliculas-terror-verano-el-bosque-maldito-1559654636.jpg " alt="El bosque maldito" width="120" height="75"></a>
          <figcaption> EL BOSQUE MALDITO </figcaption>
         </figure>
        </article>

        <article class="">
          <figure>
            <a href="#"><img class="portadas" src="https://pics.filmaffinity.com/Diario_de_una_pasi_n-565006977-mmed.jpg " alt="The Notebook" width="120" height="75"></a>
            <figcaption> EL DIARIO DE NOAH </figcaption>
          </figure>
        </article>

        <article class="">
          <figure>
            <a href="#"><img class="portadas" src="https://i.pinimg.com/originals/ac/bf/fa/acbffa5464dca7d2a2fb496de77a5731.png " alt="Bajo la misma estrella" width="120" height="75"></a>
           <figcaption> BAJO LA MISMA ESTRELLA </figcaption>
          </figure>
        </article>

        <article class="">
          <figure>
            <a href="#"> <img class="portadas" src="https://i.pinimg.com/originals/ae/5c/1d/ae5c1dbb8b5227bcb904124f8c213773.jpg " alt="Locura de amor en Las Vegas" width="120" height="75"></a>
           <figcaption> LOCURA DE AMOR EN LAS VEGAS </figcaption>
          </figure>
        </article>
      </section>

       <div class="enlace">
         <p> <a href="#" class="enlace">¿Quieres ver más estrenos?</a> </p>
       </div>
    </main>

    <footer>
      <div class="logo-footer">
        <img src="../img/logotipo/Logo.png" width="200">
      </div>

      <div class="redes-footer">
        <div class="">
          <h2>SÍGUENOS EN REDES SOCIALES</h2>
        </div>

        <a href="#" class="iconos">
          <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
        </a>
        <a href="#" class="iconos">
          <img src="../img/redes/face-6.png" width="60" height="60" alt="">
        </a>
        <a href="#" class="iconos">
          <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
        </a>


      </div>



     <div class="email">
       <h3 class="contacto">CONTÁCTANOS</h3>
        <a href="potreroDigital_proyecto_grupo6_contacto.html">
          <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
        </a>
     </div>
     <h3 class="derechos"> 2020 Movie.com- Todos los Derechos Reservados</h3>
    </footer>


  </body>
</html>
