  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>MOVIE.COM</title>
      <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo6_principal.css">
      <meta name="viewport" content="user-scalable=no, with=device-width, initial-scale=1">
    </head>

    <body>
      <header>
        <div class="logo">
          <img src="../img/logotipo/Logo.png" alt="" width="200">
        </div>

         <form class="buscar">
            <input type="text" style="width:200px; height: 25px;" name="" placeholder="Buscar">
         </form>

      </header>

    <nav class="menu">
        <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
        <a href="potreroDigital_proyecto_grupo6_ingreso.html" class= "button">  Ingresar </a>
        <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
        <a href= "potreroDigital_proyecto_grupo6_generos.html" class= "button"> Géneros </a>
        <a href= "potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos  </a>
    </nav>


          <div class="bienvenida">
              <h1> ¡Bienvenidos a Movie.com!</h1>
          </div>

   <main>
     <section class="peliculas">

          <article class="">
              <figure>
                <a href="#">
                  <img class="portadas" src="https://es.web.img2.acsta.net/pictures/19/08/07/09/08/5783887.jpg" alt="Matrix"></a>
               <figcaption> MATRIX </figcaption>
              </figure>
          </article>

         <article class="">
             <figure>
                <a href="#">
                  <img class="portadas" src="https://i.pinimg.com/474x/e1/cf/a7/e1cfa721658835677c4a0d597eea183c.jpg" alt="El Orfanato">
                </a>
              <figcaption> EL ORFANATO </figcaption>
             </figure>
         </article>


          <article class="">
            <figure>
              <a href="#">
                <img class="portadas" src="https://es.web.img2.acsta.net/pictures/15/12/14/16/38/050093.jpg" alt="Renacido"></a>
             <figcaption> EL RENACIDO </figcaption>
            </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"><img class="portadas" src="https://www.filo.news/__export/1597350992579/sites/claro/img/2020/08/13/corazoxnloco_vertical_branding.jpg_929575238.jpg " alt="Pelicula argentina"></a>
             <figcaption> CORAZON LOCO </figcaption>
            </figure>
          </article>

          <article class="">
           <figure>
            <a href="#"> <img class="portadas" src="https://estaticos.efe.com/efecom/recursos2/imagen.aspx?lVW2oAh2vjOx6GxMlMUCp1hyi47YH5PVQ4TncnkXVSTX-P-2bAoG0sxzXPZPAk5l-P-2fU5UEd3OAEdRhvOPOPjecHjENQ-P-3d-P-3d " alt="La odisea de los giles"> </a>
            <figcaption>LA ODISEA DE LOS GILES </figcaption>
           </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"><img class="portadas" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3hF-7SU6k3Q6sXs7iiMF8ys8GCq97OnyZBw&usqp=CAU " alt="Eso"></a>
              <figcaption> IT </figcaption>
            </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"> <img class="portadas" src=" https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/the-conjuring-3-expediente-warren-3-poster-1558622282.jpg?crop=1xw:1xh;center,top&resize=480:*" alt="El conjuro"></a>
             <figcaption>EL CONJURO 3</figcaption>
            </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"><img class="portadas"  src="https://i.pinimg.com/originals/b4/4b/4f/b44b4fa2ea8448ed7769a9510a174075.jpg " alt="Antes de ti"></a>
             <figcaption> ANTES DE TI </figcaption>
            </figure>
          </article>

          <article class="">
           <figure>
             <a href="#"><img class="portadas" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/peliculas-terror-verano-el-bosque-maldito-1559654636.jpg " alt="El bosque maldito"></a>
            <figcaption> EL BOSQUE MALDITO</figcaption>
           </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"><img class="portadas" src="https://pics.filmaffinity.com/Diario_de_una_pasi_n-565006977-mmed.jpg " alt="The Notebook"></a>
              <figcaption> EL DIARIO DE NOAH </figcaption>
            </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"><img class="portadas" src="https://i.pinimg.com/originals/ac/bf/fa/acbffa5464dca7d2a2fb496de77a5731.png " alt="Bajo la misma estrella"></a>
             <figcaption> BAJO LA MISMA ESTRELLA </figcaption>
            </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"> <img class="portadas" src="https://i.pinimg.com/originals/ae/5c/1d/ae5c1dbb8b5227bcb904124f8c213773.jpg " alt="Locura de amor en Las Vegas"></a>
             <figcaption id="leyenda"> <strong>LOCURA DE AMOR EN LAS VEGAS</strong> </figcaption>
            </figure>
          </article>

          <article class="">
           <figure>
             <a href="#">  <img class="portadas" src="https://cnet1.cbsistatic.com/img/EaTAUDZZEHVqAiSTc6z2pu3QgAY=/510x595/2017/11/10/c97b2b5f-7081-47ad-b266-d0dcb0c3389a/pollcomedymovie-paul.jpg " alt="Paul"></a>
            <figcaption> PAUL </figcaption>
           </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"><img class="portadas" src=" https://vignette.wikia.nocookie.net/doblaje/images/a/a9/Escalofrios_Poster_Latino.jpg/revision/latest/top-crop/width/360/height/450?cb=20151025230150&path-prefix=es" alt="Escalofrios"></a>
               <figcaption> ESCALOFRIOS </figcaption>
            </figure>
          </article>

          <article class="">
            <figure>
              <a href="#"> <img class="portadas" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSA1D_gaiAzmycYzIsa-vtF7tSHnEwN3oY2Lw&usqp=CAU " alt="Guerra de Novias"></a>
            <figcaption> GUERRA DE NOVIAS </figcaption>
            </figure>
          </article>

   </section>
 </main>

 <footer>
   <div class="logo-footer">
     <img src="../img/logotipo/Logo.png" width="200">
   </div>

   <div class="redes-footer">
     <div class="">
       <h2>SÍGUENOS EN REDES SOCIALES</h2>
     </div>

     <a href="#" class="iconos">
       <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
     </a>
     <a href="#" class="iconos">
       <img src="../img/redes/face-6.png" width="60" height="60" alt="">
     </a>
     <a href="#" class="iconos">
       <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
     </a>



   </div>



  <div class="email">
    <h3>CONTÁCTANOS</h3>
     <a href="potreroDigital_proyecto_grupo6_contacto.html">
       <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
     </a>
  </div>
  <h3> 2020 Movie.com- Todos los Derechos Reservados</h3>
 </footer>

  </body>

</html>
