  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MOVIE.COM</title>
    <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo6_generos.css">
    <link rel="stylesheet" href="generos.css">
    <meta name="viewport" content="user-scalable=no, with=device-width, initial-scale=1">
  </head>
      <body>
        <header>
          <div class="logo">
            <img src="../img/logotipo/Logo.png" alt="" width="200">
          </div>

          <form>
             <input type="text" style="width:230px; height: 25px;" name="" placeholder="Buscar">
          </form>
        </header>

      <nav class="menu">
          <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
          <a href="potreroDigital_proyecto_grupo6_ingreso.html" class= "button">  Ingresar </a>
          <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
          <a href= "potreroDigital_proyecto_grupo6_generos.html" class= "button"> Géneros </a>
          <a href= "potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos  </a>
      </nav>

     <div class="titulo">
       <h1>TODOS LOS GÉNEROS</h1>
     </div>

      <main>
        <div class="listado">
            <ul>

              <li>
              <h2 class="subtitulo">LISTA DE GÉNEROS</h2>
              </li>

          <li><a href="#"> Accion</a>
            <span>(856)</span>
          </li>

          <li><a href="#">Aventura</a>
            <span>(500)</span>
          </li>

          <li><a href="#">Animacion</a>
            <span>(301)</span>
          </li>

          <li><a href="#">Belicas</a>
            <span>(150)</span>
          </li>

          <li><a href="#">Biografia</a>
            <span>(706)</span>
          </li>

          <li><a href="#">Ciencia Ficción</a>
            <span>(918)</span>
          </li>

          <li><a href="#">Comedia</a>
            <span>(452)</span>
          </li>

          <li><a href="#">Comedia Romántica</a>
            <span>(238)</span>
          </li>

          <li><a href="#">Crimen</a>
            <span>(189)</span>
          </li>

          <li><a href="#">Deporte</a>
            <span>(10)</span>
          </li>

          <li><a href="#">Documental</a>
            <span>(50)</span>
          </li>

          <li><a href="#">Dibujos Animados</a>
            <span>(512)</span>
          </li>

          <li><a href="#">Drama</a>
            <span>(729)</span>
          </li>

          <li><a href="#">Epico</a>
            <span>(132)</span>
          </li>

          <li><a href="#">Erotico</a>
            <span>(20)</span>
          </li>

          <li><a href="#">Fantasia</a>
            <span>(406)</span>
          </li>

          <li><a href="#">Guerra</a>
            <span>(247)</span>
          </li>

          <li><a href="#">musical</a>
            <span>(163)</span>
          </li>

          <li><a href="#">Romance</a>
            <span>(417)</span>
          </li>

          <li> <a href="#">Suspenso</a>
            <span>(362)</span>
          </li>

          <li><a href="#">Terror</a>
            <span>(587)</span>
          </li>

          <li> <a href="#">Western</a>
            <span>(103)</span>
          </li>
     </ul>
   </div>


    <div class="categorias">

      <div class="info">
          <figure>
             <img class="portadas" src="https://es.web.img2.acsta.net/pictures/19/08/07/09/08/5783887.jpg" alt="Matrix" width="120" height="75">
               <figcaption> <strong> MATRIX</strong></figcaption>
          </figure>
                <div class="texto">
                  <p><strong class="titulo2"> Director:</strong>  Lilly Wachowski,  Lana Wachowski. </p>
                  <p><strong class="titulo2">Reparto: </strong>Laurence Fishburne,
                  Carrie-Anne Moss,
                  Joe Pantoliano,
                  Hugo Weaving,
                  Keanu Reeves y
                  Gloria Foster. </p>
                  <p> <strong class="titulo2">Género:</strong>Suspenso, distópico,acción y ciencia ficción.</p>
                  <p> <strong class="titulo2">Sinopsis:</strong>
                  Un experto en computadoras descubre que su mundo es una simulación total
                  creada con maliciosas intenciones por parte de la ciberinteligencia.</p>
                </div>
              <div class="trailer">
                <a href=-"#"><strong class="titulo2">Ver tráiler</strong> </a>
              </div>
        </div>

    <div class="info">
        <figure>
           <img class="portadas" src="https://es.web.img2.acsta.net/pictures/15/12/14/16/38/050093.jpg" alt="Renacido" width="120" height="75">
             <figcaption> <strong> EL RENACIDO</strong> </figcaption>
        </figure>
            <div class="texto">
              <p><strong class="titulo2">Director:</strong>
              Alejandro González Iñárritu.</p>
              <p> <strong class="titulo2">Reparto:</strong>
              Leonardo DiCaprio,
              Tom Hardy,
              Domhnall Gleeson y
              Will Poulter.
              <p> <strong class="titulo2">Género:</strong>Drama,
              Acción
              y Western.</p>
              <p><strong class="titulo2">Sinopsis:</strong>
              En una expedición al desconocido oeste norteamericano, todavía habitado por tribus indias, Hugh Glass (Leonardo DiCaprio), un trampero, explorador y cazador de pieles es brutalmente atacado por un gigante oso grizzly. El hombre resulta gravemente herido, y sus propios compañeros le dan por muerto.</p>
            </div>

        <div class="trailer">
            <a href=-"#"><strong class="titulo2">Ver el tráiler</strong> </a>
        </div>
      </div>

    <div class="info">
      <figure>
         <img class="portadas" src="https://www.filo.news/__export/1597350992579/sites/claro/img/2020/08/13/corazoxnloco_vertical_branding.jpg_929575238.jpg " alt="Pelicula argentina" width="120" height="75">
           <figcaption><strong> CORAZÓN LOCO</strong></figcaption>
      </figure>
          <div class="texto">
            <p><strong class="titulo2">Director:</strong>
            Marcos Carnevale.</p>
            <p><strong class="titulo2">Reparto:</strong>
             Adrián Suar,
             Soledad Villamil y
             Gabriela Toscano. </p>
             <p><strong class="titulo2"> Género:</strong> Comedia.</p>
             <p> <strong class="titulo2">Sinopsis:</strong>
             Un hombre lleva una doble vida con una familia en Buenos Aires y otra en Mar del Plata. No obstante, las mujeres se unen para vengarse por años de secretos y engaños.</p>
          </div>

      <div class="trailer">
        <a href=-"#"><strong class="titulo2">Ver el tráiler</strong> </a>
      </div>
    </div>

    <div class="info">
        <figure>
            <img class="portadas" src="https://pics.filmaffinity.com/Diario_de_una_pasi_n-565006977-mmed.jpg " alt="The Notebook" width="120" height="75">
              <figcaption> <strong> EL DIARIO DE NOA</strong> </figcaption>
        </figure>
      <div class="texto">
        <p><strong class="titulo2">Director:</strong>
         Nick Cassavetes.</p>
        <p> <strong class="titulo2">Reparto:</strong>
        Ryan Gosling,
        Rachel McAdams,
        James Garner,
        Gena Rowlands,
        Sam Shepard,
        James Marsden y
        Joan Allen.</p>
        <p> <strong class="titulo2">Género:</strong>Romance.</p>
        <p><strong class="titulo2">Sinopsis:</strong>
        La historia se remonta al verano de 1940 en Seabrook, Carolina del Sur. Allie Hamilton (Rachel McAdams) es una chica de una familia rica que pasa el verano en Seabrook. En el carnaval, Allie conoce a Noah Calhoun (Ryan Gosling), un joven del pueblo que trabaja en la fábrica de madera.</p>
      </div>
         <div class="trailer">
            <a href=-"#"><strong class="titulo2">Ver el tráiler</strong> </a>
         </div>

      </div>

      </main>

      <footer>
        <div class="logo-footer">
          <img src="../img/logotipo/Logo.png" width="200">
        </div>

        <div class="redes-footer">
          <div class="">
            <h2 class="redes">SÍGUENOS EN REDES SOCIALES</h2>
          </div>

          <a href="#" class="iconos">
            <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
          </a>
          <a href="#" class="iconos">
            <img src="../img/redes/face-6.png" width="60" height="60" alt="">
          </a>
          <a href="#" class="iconos">
            <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
          </a>
        </div>

       <div class="email">
         <h3 class="contacto">CONTÁCTANOS</h3>
          <a href="potreroDigital_proyecto_grupo6_contacto.html">
            <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
          </a>
       </div>
       <h3 class="derechos"> 2020 Movie.com- Todos los Derechos Reservados</h3>
      </footer>

    </body>

    </html>
