  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MOVIE.COM</title>
    <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo6_formulario.css">
    <link rel="stylesheet" href="formulario.css">
    <meta name="viewport" content="user-scalable=no, with=device-width, initial-scale=1">
  </head>
    <body>
      <header>

        <div class="logo">
        <img src="../img/logotipo/Logo.png" alt="" width="200">
        </div>

        <form>
           <input type="text" style="width:230px; height: 25px;" name="" placeholder="Buscar">
        </form>

        </header>

        <nav class="menu">
          <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
          <a href="potreroDigital_proyecto_grupo6_ingreso.html" class= "button">  Ingresar </a>
          <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
          <a href= "potreroDigital_proyecto_grupo6_generos.html" class= "button"> Géneros </a>
          <a href= "potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos  </a>
        </nav>

        <div class="titulo">
          <h1> REGISTRE SU CUENTA</h1>
        </div>

       <main>
         <form>
          <fieldset>
            <legend>Información Personal</legend>
            <label for="nombre"> Ingrese su Nombre</label>
            <input class="datos" type="text" style="width:200px; height: 25px;" name="nombre" placeholder=" Escribe tu nombre" maxlength="10" id="nombre" >
            <label for="apellido"> Ingrese su Apellido</label>
            <input class="datos" type="text" style="width:200px; height: 25px;" name="apellido" placeholder=" Escribe tu apellido" maxlength="10" id="apellido">
          </fieldset>

          <fieldset class="genero">
          <input class="datos" type="radio" name="" id=""> Hombre
          <input class="datos" type="radio"  name="" id="">Mujer
            </fieldset>

            <fieldset>
              <legend>Fecha de Nacimiento</legend>
              <label for="nacimiento">Fecha:</label>
              <input class="datos" style="width:200px; height: 25px;" type="date" id="nacimiento" name="Fecha"
             value="0000-00-00"
              min="1960-01-01" max="2005-01-01">
            </fieldset>

            <fieldset>
              <legend> Nacionalidad</legend>
              <select style="width:200px; height: 25px;" class="" name="">
                <option value="Argentina"> Argentina</option>
                <option value="Mexico"> México</option>
                <option value="Venezuela"> Venezuela</option>
                <option value="Puerto Rico"> Puerto Rico</option>
                <option value="EE.UU">Estados Unidos</option>
                <option value="Dinamarca"> Dinamarca</option>
                <option value="Chile"> Chile</option>
                <option value="Bolivia"> Bolivia</option>
                <option value="Ecuador"> Ecuador</option>
                <option value="Brasil"> Brasil</option>
                <option value="Paraguay"> Paraguay</option>
                <option value="Uruguay"> Uruguay</option>
              </select>
            </fieldset>

        <fieldset>
          <legend> Información de Contacto</legend>
          <label for="email"> Ingrese su E-mail</label>
          <input class="datos" style="width:200px; height: 25px;" type="email" name="nombre" placeholder=" Escribe tu e-mail" maxlength="10" id="email">
        </fieldset>



            <fieldset>
              <legend> Crea una cuenta</legend>
              <label for="usuario"> Ingrese su usuario</label>
              <input class="datos" style="width:200px; height: 25px;" type="text" name="usuario" placeholder=" Escribe tu usuario" maxlength="10" id="usuario">
              <label for="contraseña"> Ingrese su contraseña</label>
              <input class="datos" style="width:200px; height: 25px;" type="password" name="contraseña" value="" id="contraseña">
            </fieldset>
            <p class="text"> Estoy de acuerdo con  <a href="#" class="text subra">Términos y Condiciones</a> </p>
            <input type="button" style="width:200px; height: 25px;" name="" value="Registrarse">
            <p> <a href="#"class="text subra">¿Ya creaste tu cuenta? </a> </p>
          </form>
       </main>



       <footer>
         <div class="logo-footer">
           <img src="../img/logotipo/Logo.png" width="200">
         </div>

         <div class="redes-footer">
           <div class="">
             <h2>SÍGUENOS EN REDES SOCIALES</h2>
           </div>

           <a href="#" class="iconos">
             <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
           </a>
           <a href="#" class="iconos">
             <img src="../img/redes/face-6.png" width="60" height="60" alt="">
           </a>
           <a href="#" class="iconos">
             <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
           </a>



         </div>



        <div class="email">
          <h3 class="contacto">CONTÁCTANOS</h3>
           <a href="potreroDigital_proyecto_grupo6_contacto.html">
             <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
           </a>
        </div>
        <h3 class="derechos"> 2020 Movie.com- Todos los Derechos Reservados</h3>
       </footer>








      </body>

      </html>
