<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MOVIE.COM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../CSS/potreroDigital_proyecto_grupo6_contacto.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../img/logotipo/Logo.png" alt="" width="200">
      </div>

      <form>
         <input type="text" style="width:230px; height: 25px;" name="" placeholder="Buscar">
      </form>

      </header>

      <nav class="menu">
        <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
        <a href="potreroDigital_proyecto_grupo6_ingreso.html" class= "button">  Ingresar </a>
        <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
        <a href= "potreroDigital_proyecto_grupo6_generos.html" class= "button"> Géneros </a>
        <a href= "potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos  </a>
      </nav>

        <div class="titulo">
          <h1>CONTÁCTANOS</h1>
        </div>

      <main>
        <form class="contacta">
            <fieldset>
              <input class="datos" type="text" style="width:200px; height: 25px;" name="nombre" placeholder=" Escribe tu nombre">
              <input class="datos" type="text" style="width:200px; height: 25px;" name="apellido" placeholder="Escribe tu apellido">
            </<fieldset>
              <input class="datos" type="text" style="width:200px; height: 25px;" name="telefono" placeholder="Teléfono">
              <input class="datos" type="text" style="width:200px; height: 25px;" name="correo" placeholder="Escribe tu correo">
              <fieldset>
                  <textarea style="width:900px; height: 200px;" name="mensaje" placeholder="Escriba aquí su mensaje..."></textarea>
              </fieldset>
            <fieldset>
              <input class="datos" type="button" style="width:200px; height: 30px;"name="" value="ENVIAR">
            </fieldset>

        </form>

      </main>

      <footer>
        <div class="logo-footer">
          <img src="../img/logotipo/Logo.png" width="200">
        </div>

        <div class="redes-footer">
          <div class="">
            <h2>SÍGUENOS EN REDES SOCIALES</h2>
          </div>

          <a href="#" class="iconos">
            <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
          </a>
          <a href="#" class="iconos">
            <img src="../img/redes/face-6.png" width="60" height="60" alt="">
          </a>
          <a href="#" class="iconos">
            <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
          </a>


        </div>



        <div class="email">
          <h3 class="contacto">CONTÁCTANOS</h3>
           <a href="potreroDigital_proyecto_grupo6_contacto.html">
             <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
           </a>
        </div>
        <h3 class="derechos"> 2020 Movie.com- Todos los Derechos Reservados</h3>
       </footer>

     </div>
   </body>
  </html>
