<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace a archivo css-->
    <link rel="stylesheet" href="../CSS/proyecto_pagina_principal_slider.css">

    <script src="https://kit.fontawesome.com/993da7c401.js" crossorigin="anonymous"></script>
    <title>Movie.com</title>
</head>

<body>

    <header>
        <div class="logotipo">
            <img src="../img/logotipo/Logo.png" width="200px">
        </div>

        <form>
            <input class="buscador" type="text" style="width:230px; height: 25px;" name="" placeholder="Buscar">
        </form>
    </header>

    <nav>
        <div class="menu">
            <a href="potreroDigital_proyecto_grupo6_formulario.html" class="button"> Registrarse </a>
            <a href="potreroDigital_proyecto_grupo6_ingreso.html" class="button"> Ingresar </a>
            <a href="potreroDigital_proyecto_grupo6_indice.html" class="button"> Índice </a>
            <a href="potreroDigital_proyecto_grupo6_generos.html" class="button"> Géneros </a>
            <a href="potreroDigital_proyecto_grupo6_estrenos.html" class="button"> Estrenos </a>
        </div>
    </nav>



    <main>
        <div id="contenedorItemsCarrusel">

            <div class="itemCarrusel" id="itemCarrusel-1">
                <div class="imagenCarrusel" id="slide-1Carrusel">
                    <img src="../slider/slider1.jpg" alt="" class="imgSlider">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z">
                            </path>
                        </svg>
                    </a>
                    <a href="#itemCarrusel-2">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z">
                            </path>
                        </svg>

                    </a>

                </div>
            </div>


            <div class="itemCarrusel" id="itemCarrusel-2">
                <div class="imagenCarrusel" id="slide-2Carrusel">
                    <img src="../slider/slide2.jpg" alt="" class="imgSlider">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z">
                            </path>
                        </svg>
                    </a>
                    <a href="#itemCarrusel-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="itemCarrusel" id="itemCarrusel-3">
                <div class="imagenCarrusel" id="slide-3Carrusel">
                    <img src="../slider/slide3.jpg" alt="" class="imgSlider">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z">
                            </path>
                        </svg>
                    </a>
                    <a href="#itemCarrusel-4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="itemCarrusel" id="itemCarrusel-4">
                <div class="imagenCarrusel" id="slide-4Carrusel">
                    <img src="../slider/slide4.jpg" alt="" class="imgSlider">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd"
                                d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z">
                            </path>
                        </svg>
                        <a href="#itemCarrusel-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill-rule="evenodd"
                                    d="M8.72 18.78a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06L9.78 5.22a.75.75 0 00-1.06 1.06L14.44 12l-5.72 5.72a.75.75 0 000 1.06z">
                                </path>
                            </svg>
                        </a>
                </div>
            </div>


        </div>
        <div id="contenedorPuntos">
            <a href="#itemCarrusel-1" class="puntosE"> * </a>
            <a href="#itemCarrusel-2" class="puntosE"> * </a>
            <a href="#itemCarrusel-3" class="puntosE"> * </a>
            <a href="#itemCarrusel-4" class="puntosE"> * </a>
        </div>




        <section class="contenedor">

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/Corazon_Loco.jpg" alt="Corazon_Loco">
                <figcaption>CORAZÓN LOCO</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/John_Wick_3_Parabellum.jpg" alt="john_wick">
                <figcaption>JOHN WICK</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/Avengers_EndGame.jpg" alt="Avengers_EndGame">
                <figcaption>AVENGERS END GAME</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/la_odisea_de_los_giles.jpg" alt="la_odisea_de_los_giles">
                <figcaption>LA ODISEA DE LOS GILES</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/el_bosque_maldito.png" alt="el_bosque_maldito">
                <figcaption>EL BOSQUE MALDITO</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/IT.jpg" alt="it">
                <figcaption>IT</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/antes_de_ti.jpg" alt="antes_de_ti">
                <figcaption>ANTES DE TI</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/Star_Wars_VII.jpg" alt="Star_Wars_VII">
                <figcaption>STAR WARS VII</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/Escalofrios.jpg" alt="Escalofrios">
                <figcaption>ESCALOFRIOS</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/El_Renacido.jpg" alt="El_Renacido">
                <figcaption>EL RENACIDO</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/bajo_la_misma_estrella.jpg" alt="bajo_la_misma_estrella">
                <figcaption>BAJO LA MISMA ESTRELLA</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/paul.jpg" alt="paul">
                <figcaption>PAUL</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/guerra_de_novias.jfif" alt="guerra_de_novias">
                <figcaption>GUERRA DE NOVIAS</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/avatar.jpg" alt="Avatar">
                <figcaption>AVATAR</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/locura_de_amor_en_las_vegas.jpg"
                    alt="locura_de_amor_en_las_vegas">
                <figcaption>LOCURA DE AMOR EN LAS VEGAS</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/El_Orfanato.jpg" alt="El_Orfanato">
                <figcaption>EL ORFANATO</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/Shrek_Tercero.jpg" alt="Shrek_Tercero">
                <figcaption>SHREK TERCERO</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/el_diario_de_noa.jpg" alt="el_diario_de_noa">
                <figcaption>EL DIARIO DE NOA</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/The_Matrix.jpg" alt="The_Matrix">
                <figcaption>MATRIX</figcaption>
            </div>

            <div class="contenido">
                <img class="pelicula" src="../img/peliculas/Titanic.jpg" alt="Titanic">
                <figcaption>TITANIC</figcaption>
            </div>


        </section>
    </main>




    <footer>
        <div class="logo-footer">
            <img class="logo-footer" src="../img/logotipo/Logo.png" width="200">
        </div>

        <div class="redes-footer">
            <div class="">
                <h2>SÍGUENOS EN REDES SOCIALES</h2>
            </div>

            <a href="#" class="iconos">
                <img src="../img/redes/insta-1.png" width="60" height="60" alt="">
            </a>
            <a href="#" class="iconos">
                <img src="../img/redes/face-6.png" width="60" height="60" alt="">
            </a>
            <a href="#" class="iconos">
                <img src="../img/redes/twitter.svg" width="60" height="60" alt="">
            </a>


        </div>



        <div class="email">
            <h3 class="contacto">CONTÁCTANOS</h3>
            <a class="mail" href="potreroDigital_proyecto_grupo6_contacto.html">
                <img src="../img/redes/mail-1.png" width="60" height="60" alt="">
            </a>
        </div>
        <h3 class="derechos"> 2020 Movie.com- Todos los Derechos Reservados</h3>
    </footer>



    <!-- Agrego Link Materialize (js)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Agrego Link (js)-->
    <script src="../js/proyecto_pagina_principal_slider.js"></script>
</body>

</html>